
ul {
      background: #808080;
      font: #FFFFFF;
      font-family: 'Marvel', sans-serif;
      font-size: 30px
    }
    li {
      display: inline;
      padding: 0px 20px 10px 20px;
      margin: 40px
    }


.maintitle {
  font-family: 'Abril Fatface', cursive;
  font-size: 50px
}



article {
      max-width: 740px;
      padding: 20px;
      margin: 0 auto;
    }
h2 {
font-family: 'Abril Fatface', cursive;
font-size: 30px
}

p {
  font-family: 'Marvel', sans-serif;
  font-size: 30px
}
