
ul {
      background: #808080;
      font: #FFFFFF;
      font-family: 'Marvel', sans-serif;
      font-size: 30px
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }


.maintitle {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px
}

.tabs {
  padding: 30px;

}

article {
      max-width: 740px;
      padding: 20px;
      margin: 0 auto;
    }
h2 {
font-family: 'Permanent Marker', cursive;
font-size: 30px}
