h1 {
  background-color: #808080;
  font: #FFFFFF;
  font-family: 'Lobster', cursive;
}

ul {
      background: #808080;
      font: #FFFFFF;
      font-family: 'Marvel', sans-serif;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
